* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 63px;
  position: sticky;
  z-index: 150;
  top: 0;
}
.hero-nav-links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.contact-link {
  width: 152px;
  height: 58px;
  background-color: #df6951;
  padding: 20px 27px;
  border-radius: 10px;
  cursor: pointer;
}
