.location-hero {
  background-image: url("../images/location-images/tour-location-homepage.png");
  height: 766px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.location-hero-h4 {
  color: #ffefec;
  font-family: "Poppins", sans-serif;
  font-size: 18;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-align: center;
}
.location-hero-h1 {
    color: #fff;
    font-family: "Yesteryear", cursive;
    font-size: 158px;
    font-weight: 400;
    line-height: 215px;
    text-align: center;
}
.location-heading-hero{
    margin-top: 125px;
}
.tour-location{
    transform: translateY(-70px);
}
.location-container {
    position: relative;
    height: 1630px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 4px 48px 12px rgba(0, 0, 0, 0.09);
}
.location-img-2{
    position: absolute;
    left: 0;
    bottom: 0;
}
.location-img-1{
    position: absolute;
    right: 0;
    bottom: 130px;
}
.location-navbar {
    height: 141px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.location-navbar > div{
    display: inline-block;
    padding: 55px 0;
    background: #F8F8F8;
}
.location-navbar > div > a{
    font-size: 20px;
    color: #343434;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 2px;
}
.location-navbar > div >img{
    padding: 0 15px;
}
.location-box{
    width: 780px;
    padding: 35px 28px;
}
.location-box-h3{
    color: #181E4B;
    font-family: 'Volkhov',sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.location-gps{
    height: 700px;
}
.location-box-p{
    color: #181E4B;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    padding: 30px 0;
}
.location-form{
    width: 481px;
    height: 977px;
    padding: 30px;
    background: #EDEDED;
}
.form-box-h2{
    color: #181E4B;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    font-family: 'Volkhov', sans-serif;
}
.form-box-p{
    color: #000;
    text-align: center;
    font-family: 'Poppins',serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 30px;
}
.form-buttons-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.form-box-btn{
    width: 176.5px;
    padding: 16px 0;
    background-color: #DF6951;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    border: none;
    color: #fff;
    cursor: pointer;
}
.form-input-box{
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form-box-input{
    width: 359px;
    padding: 25px 15px;
    border: none;
    font-size: 18px;
    font-family: 'Poppins';
    line-height: 26px;
    font-weight: 400;
    outline: none;
}
.form-box-input::placeholder{
    color: rgba(0, 0, 0, 0.26);
}