.about-hero {
  background-image: url("../images/about-images/about-header-img.png");
  height: 766px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-hero-h4 {
  color: #ffefec;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
  margin: auto;
}
.about-hero-h1 {
  color: #fff;
  font-family: "Yesteryear", cursive;
  font-size: 157.426px;
  font-style: normal;
  font-weight: 400;
  line-height: 223.678px;
}
.about-heading-hero {
  margin: 150px auto;
  max-width: 490px;
  height: 225px;
  display: flex;
  flex-direction: column;
}
.about-context-box {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 40px 0;
}
.about-context-box > img {
  width: 850px;
}
.about-context-h5,
.about-statistic-h5,
.statistic-gruop-text,
.about-info-h4 {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
}
.about-context-h1,
.about-statistic-h1,
.about-info-h1 {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.842px;
}
.about-context-p,
.about-statistic-p {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.about-context-btn {
  border: none;
  border-radius: 10px;
  background: #df6951;
  width: 176.561px;
  height: 56.416px;
  font-family: "Poppins", sans-serif;
  font-size: 16.71px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  cursor: pointer;
}
.about-context-hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-video-hero {
  max-width: 100%;
  position: relative;
}
.about-video-hero > video {
  width: 100%;
  height: 100%;
}
.about-video-tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
  left: 0;
  top: 0;
}
.about-video-h1 {
  color: #fff;
  font-family: "Yesteryear", cursive;
  font-size: 157.426px;
  font-weight: 400;
  font-style: normal;
  line-height: 223.678px;
  position: absolute;
  z-index: 998;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.about-statistic {
  padding-right: 8%;
  margin: 107px auto;
  position: relative;
}
.about-statistic-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-statistic-hero > img {
  width: 556px;
}
.about-statistic-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 75px;
}
.about-statistics-gruop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-statistic-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.statistic-gruop-box {
  width: 155.5px;
  height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistic-gruop-box > img {
  width: 155.109px;
  height: 155.109px;
}
.shell-img {
  position: absolute;
  right: -270px;
}
.statistic-gruop-text {
  color: #181e4b;
}
.gruop-text3 {
  letter-spacing: 0px;
}
.about-info-box {
  max-width: 1650px;
  margin: auto;
  text-align: center;
}
.about-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 363px );
  gap: 50px;
  padding: 0 20px;
  justify-content: center;
}
.about-city-box {
  width: 363px;
  position: relative;
}
.city-box-img {
  grid-row: auto / span 2;
}
.about-city-text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 289px;
  height: 33px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  bottom: 24px;
  left: 37px;
}
@media (max-width: 1835px) {
  .about-statistic-hero{
    flex-direction: column;
    gap: 40px;
  }
  .about-statistic-hero > img{
    max-width: 750px;
  }
  .shell-img{
   display: none;
  }
}
@media (max-width: 1450px) {
  .about-context-box{
    transform: translateX(0);
    padding-left: 20px;
  }
}
@media (max-width: 1450px){
  .about-context-h1{
    font-size: 40px;
    line-height: 50px;
  }
  .about-context-p{
    line-height: 16px;
  }
}
@media (max-width: 950px){
  .about-context-box{
    flex-direction: column;
    gap: 50px;
  }
  .about-context-h1{
    font-size: 50px;
    line-height: 71px;
  }
  .about-context-p{
    line-height: 26px;
  }
  .about-context-box > img{
    width: 100%;
  }
  .about-video-h1{
    font-size: 110px;
  }
}
@media (max-width: 650px){
  .about-statistic-hero > img {
    width: 95%;
  }
  .about-statistics-gruop{
    flex-direction: column;
    gap: 25px;
  }
  .about-statistic-text{
    text-align: center;
  }
}
@media (max-width: 550px) {
  .about-hero-h1{
    font-size: 100px;
    text-align: center;
  }
  .about-context-h1{
    font-size: 30px;
    line-height: 40px;
  }
  .about-context-p{
    font-size: 15px;
    line-height: 16px;
  }
  .about-video-h1{
    font-size: 60px;
  }
  .about-context-hero{
    text-align: center;
    align-items: center;
    padding-right: 20px;
  }
}